header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-direction: column;
  gap: 10px;
}

header nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

header .logo {
  width: 200px;
}

/* Player rádio */
#iframe-radio, .iframe-radio {
  max-width: 400px;
  margin: 20px auto;
}